<div class="container">
    <h1>Log in</h1>
    <p class="text-center"> Ingresa al tus datos para acceder a la plataforma</p>
    <div class="form">
        <form action="">
            <input class="user" type="email" name="" id="" placeholder="Email">
            <input class="user" type="password" name="" id="" placeholder="Password">
            <button class="button-3">Log in</button>
            <a class="d-flex justify-content-center" routerLink="/sign-up">Crear Cuenta</a>
        </form>
    </div>
</div>