<div class="container">
    <h1>Sign up</h1>
    <p class="text-center"> Crea tu cuenta para acceder a tu informacion.</p>
    <div class="form">
        <form action="">
            <input class="user" type="text" name="" id="" placeholder="Nombre">
            <input class="user" type="email" name="" id="" placeholder="Email">
            <input class="user" type="text" name="" id="" placeholder="User ID">
            <input class="user" type="password" name="" id="" placeholder="Password">
            <button class="button-3">Sign up</button>
            <a class="d-flex justify-content-center" routerLink="/log-in">Ya tengo Cuenta</a>
        </form>
    </div>
</div>